


.SuccessParagraph {
    color: limegreen;
    font-size: 11px;
    padding: 0;
    margin: 0;
}

.centerCard {
    position: center;
}
.justify-content-center {
    justify-content: center;
}

#button-center {
    display: block;
    margin: 0 auto;
}