.headerText {
  text-align: center;
  padding: 20px;
}

.ErrorParagraph {
  color: red;
  font-size: 10px;
}

select.SelectTeam {
  width: 173%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f8f9fa;
}

.AddStudentCard {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  padding: 14px;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
  margin: 1.2rem auto;
  max-width: 500px;
  min-width: 500px;
  max-height: 1000px;
  border-radius: 4px;
  background-color: white;
  position: center;
}

.AddStudentCard input[type="text"] {
  width: 173%;
  padding: 6px 10px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.AddStudentCard input[type="submit"] {
  margin: 5px 0;
  box-shadow: inset 0px 1px 0px 0px #caefab;
  background: linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
  background-color: #77d42a;
  border-radius: 6px;
  border: 1px solid #268a16;
  display: inline-block;
  cursor: pointer;
  color: #f8f9fa;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #aade7c;
  width: 100%;
}

.AddStudentCard input[type="submit"]:hover {
  background: linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
  background-color: #5cb811;
}

.container {
  display: block;
  position: relative;
  padding-left: 36px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 21px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.container:hover input~.checkmark {
  background-color: #ccc;
}


.container input:checked~.checkmark {
  background-color: #5cb811;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked~.checkmark:after {
  display: block;
}

.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}