.home {
    margin: 0;
    text-align: center;
    vertical-align: middle;
    margin-top: 3rem;
    font-size: 1.8rem;
    font-weight: bolder;
}

.des{
    font-weight: normal;
    font-size: 1.3rem;
    text-align:left;
    vertical-align: middle;
    margin-top: 2rem;
}

.projectName{
    color: rgb(58, 177, 58);
    font-size: 3.6rem;
}